<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background: url('{{ url_for('static', filename='Background.png') }}') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <!-- Top bar with navigation links -->
    <div class="top-bar">
        <div class="text-left">YOUR DATA DASHBOARD</div>
        <div class="text-right">
            <a href="/">Home Page</a>
        </div>
    </div>
    <!-- File upload container -->
    <div class="upload-container">
        <input type="file" id="fileInput" accept=".csv, .tsv, .txt" />
        <button id="uploadButton" class="home-button">Upload File</button>
    </div>
    <!-- Button container to center the buttons under the top bar -->
    <div class="button-container">
        <button class="home-button" id="initialAnalysisButton">Initial Analysis</button>
        <button class="home-button" id="cleanDataButton">Clean Data</button>
        <button class="home-button" id="visualizeDataButton">Visualize Data</button>
        <button class="home-button" id="predictDataButton">Predict Data</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        let fileUploaded = false;

        document.getElementById('uploadButton').addEventListener('click', () => {
            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];

            if (!file) {
                alert('Please select a file first.');
                return;
            }

            const formData = new FormData();
            formData.append('file', file);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    alert('File uploaded successfully.');
                    fileUploaded = true;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        function checkFileUploadAndNavigate(url) {
            if (!fileUploaded) {
                alert('Please upload a file first.');
                return;
            }
            window.location.href = url;
        }

        document.getElementById('initialAnalysisButton').addEventListener('click', () => {
            checkFileUploadAndNavigate("/table");
        });

        document.getElementById('visualizeDataButton').addEventListener('click', () => {
            checkFileUploadAndNavigate("/visualize");
        });
    </script>
</body>
</html>
