<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background: url('{{ url_for('static', filename='Background.png') }}') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <!-- Top bar with navigation links -->
    <div class="top-bar">
        <div class="text-left">YOUR DATA DASHBOARD</div>
        <div class="text-right">
            <a href="/">Home Page</a>
        </div>
    </div>
    <!-- Background container to center the button -->
    <div class="background">
        <div class="center-container">
            <button id="navigateButton" class="center-button">START ANALYSIS</button>
        </div>
    </div>
    <script>
        // JS to navigate to the table page when the button is clicked
        document.getElementById('navigateButton').addEventListener('click', () => {
            window.location.href = "/table";
        });
    </script>
</body>
</html>
